<div class="card text-center">
  <!-- <img class='img-fluid' src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" class="card-img-top" alt="Card image cap"> -->
  <img class='img-fluid' src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/73310618_2959493417416790_9129732584341766144_n.jpg?_nc_cat=103&_nc_oc=AQkripHM7eivCjVPrb-0qpXAcKcEFLGp0-DtJxCwxfHYWdflDLPFkd-4RROiivtkDeA&_nc_ht=scontent-sjc3-1.xx&oh=cd54417fd83670e5c37c051314ec14c2&oe=5E5673AA" class="card-img-top" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Welcome to Mini Note</h5>
    <p class="card-text">This project is created for practing AWS services.
       It is a serverless app, and the main functions of the app is create, modify, update, delete notes.
       Mini Note will implemented as a feature in Project 2.
    </p>
    <button class="btn btn-primary mr-5" href="#" (click)="gotoRegister()">Sign Up</button>
    <!-- <button class="btn btn-danger" href="#" (click)="gotoLogin()">Log In</button> -->
    <button type="button" class="btn btn-danger mr-5" (click)="gotoLogin()"><i class="fab fa-google-plus-g pr-1"></i>Log In </button>
    <!-- <button class="btn btn-danger" href="#" (click)="gotoELogin()">Email Log In</button> -->
    <button type="button" class="btn btn-light" (click)="gotoELogin()"><i class="fas fa-envelope pr-1"></i>Log In </button>
  </div>


  <div class="card-footer text-muted">
    Cmpe 172 Project 1
  </div>
</div>
